In [7]:
s='digipodium'
slice1= s[0:-6]
print(slice1)

digi

In [6]:
s='digipodium'
slice1= s[0::2]
print(slice1)

dgpdu

In [11]:
name = 'Udit Singh'

In [23]:
fname=name[:5]
lname=name[-5:]
print(fname)
print(lname)

Udit
Singh

In [24]:
name[::-1]

'hgniS tidU'

In [25]:
name[::2]

'Ui ig'

In [26]:
name[1::2]

'dtSnh'

In [27]:
name[::-1][:5][::-1]

'Singh'

In [28]:
data='69.69%'
float(data[:-1])

69.69

In [32]:
value = '$23433+'
int(value[1:-1])

23433

In [33]:
x= chr(12234)
print(x)

â¿Š

In [37]:
with open('char.txt','w',errors="ignore") as f:
    for i in range(1600):
        try:f.write(f'{i} {chr(i)}\n')
        except:pass
    print('done')

done

In [3]:
y=ord('B')
print(y)
y=ord('m')
print(y)

66
109

In [7]:
a='pizza'
b='time'
j=a+' '+b
print(j)

pizza time

In [11]:
w1="grand"
w2="party"
j=w1+' '+w2
print(j*4)

grand partygrand partygrand partygrand party

In [3]:
msg = 'not a good dayðŸ˜”'

In [4]:
msg.upper()

'NOT A GOOD DAYðŸ˜”'

In [5]:
msg.lower()

'not a good dayðŸ˜”'

In [6]:
msg.swapcase()

'NOT A GOOD DAYðŸ˜”'

In [7]:
msg.title()

'Not A Good DayðŸ˜”'

In [8]:
msg.casefold()

'not a good dayðŸ˜”'

In [13]:
name = input('May I Have Your Name : ')
print(name)
print(len(name))

Udit Singh
10

In [14]:
name

'Udit Singh'

In [15]:
clean_name = name.strip()
print(clean_name, len(clean_name))

Udit Singh 10

In [16]:
data = 'huf8yowegf8ywegruwebfiuawer'
data.count('b')

1

In [17]:
data.count('w') + data.count('g')

6

In [31]:
data = 'There once was a ship that put to sea , and The name of the ship was the Billy O Tea'

In [20]:
data.count('e')

9

In [23]:
words = data.split()
print(words, len(words))

['There', 'once', 'was', 'a', 'ship', 'that', 'put', 'to', 'sea', ',', 'The', 'name', 'of', 'the', 'ship', 'was', 'the', 'Billy', 'O', 'Tea'] 20

In [27]:
data.split(',')

['There once was a ship that put to sea ',
 ' and',
 ' The name of the ship was the Billy O Tea']

In [28]:
data.split('e')

['Th',
 'r',
 ' onc',
 ' was a ship that put to s',
 'a , and, Th',
 ' nam',
 ' of th',
 ' ship was th',
 ' Billy O T',
 'a']

In [34]:
data.splitlines()

['There once was a ship that put to sea , and The name of the ship was the Billy O Tea']

In [70]:
address_parts = [
    'room no. 59 ',
    'block - c ',
    'Uttaranchal University',
    'Premnagar',
    'Dehradun'
]

In [74]:
print(address_parts)

['room no. 59 ', 'block - c ', 'Uttaranchal University', 'Premnagar', 'Dehradun']

In [73]:
" ".join(address_parts)

'room no. 59  block - c  Uttaranchal University Premnagar Dehradun'

In [72]:
','.join(address_parts)

'room no. 59 ,block - c ,Uttaranchal University,Premnagar,Dehradun'

In [71]:
print('\n'.join(address_parts))

room no. 59
block - c
Uttaranchal University
Premnagar
Dehradun

In [18]:
### homeworkðŸ˜”
a = [23,32,4,5,3,4,32]
s = list(map(lambda a: a**2,a))
print("easy peesy lemon squeasyðŸ˜",s)

easy peesy lemon squeasyðŸ˜ [529, 1024, 16, 25, 9, 16, 1024]

In [19]:
a = [3,2,4,4,3,3,2,4,5,5,6,7,8,6,4,2,2,1,4,5]
b =  list(filter(lambda i: i >=5,a))
print(b)

[5, 5, 6, 7, 8, 6, 5]

In [21]:
list(map(lambda i: i**2, filter(lambda i: i >=5,a)))

[25, 25, 36, 49, 64, 36, 25]